@font-face {
  font-family: neon2;
  src: url(fat.otf);
}

:root {
  --black: #30323d;
  --ash-black: #2e2836;
  --brown: #938581;
  --blue: #8896ab;
  --sky: #c5d5e4;
  --yellow: #ffae03;
  --trans: #fafafa00;

  --dusk: #cdd1c4;
  --purple: #9900ff;
  --purple2: #ebe0f5;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--brown);
}

::-webkit-scrollbar-thumb {
  background: var(--sky);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--sky);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
