.home {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  background: url("../img/pared.png");
}

.main_home {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rebeccapurple;
}
.main_segundo {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rebeccapurple;
}
.main_tercero {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rebeccapurple;
}

.no_parallax {
  z-index: 999;
}

.parallax::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateZ(-10px) scale(8);
  background-size: 100%;
  z-index: -1;
}

.bg1::after {
  background: url("../icons/enterneon.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 84% 15%;
}

.bg2::after {
  background: url("../img/arribaverde.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 80% 75%;
}

.bg3::after {
  background: url("../img/arribaverde.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 80% 75%;
}
